body{
font-family:Arial;
margin:0;
background:#f4f6fb;
}

.app{
display:flex;
}

.sidebar{
width:200px;
background:#7b2ff7;
color:white;
padding:20px;
}

.content{
flex:1;
padding:30px;
}

.box{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
}

ul{
list-style:none;
padding:0;
}

li{
padding:8px;
cursor:pointer;
}

li:hover{
background:#eee;
}

.tab{
display:none;
}
